@model FlipWeen.MVC.Models.ProjectPackageViewModel
<div class="wrap-nav-pledge">
    <ul class="rs nav nav-pledge accordion">
        @foreach (var package in Model.Packages)
        {
            <li>
                <div class=" pledge-label accordion-label clearfix">
                    <i class="icon iPlugGray"></i>
                    <span class="pledge-amount">Pledge @package.Amount) or more</span>
                </div>
                <div class=" pledge-content accordion-content">
                    <div class="pledge-detail">
                        <p class="rs pledge-description">@package.Name</p>
                        <p class="rs ta-c"><a>@Html.ActionLink("Back this project", "Back", "Projects", routeValues: new { projectId= Model.CurrentProjectId , packageId =package.Id  }, htmlAttributes: new { @class = "btn btn-purple btn-buck-project" }) </a>
                    </div>
                </div>
            </li><!--end: pledge-item -->
        }
      
     </ul>
    </div>