<div class="wrap-nav-pledge">
    <ul class="rs nav nav-pledge accordion">
        <li>
            <div class=" pledge-label accordion-label clearfix">
                <i class="icon iPlugGray"></i>
                <span class="pledge-amount">Pledge $17 or more</span>
                <span class="count-val">(12 of 31)</span>
            </div>
            <div class=" pledge-content accordion-content">
                <div class="pledge-detail">
                    <p class="rs pledge-description">Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.</p>
                    <p class="rs fw-b pb20">Ocupated (2 of 10)</p>
                    <p class="rs"><span class="fw-b">Estimated delivery:</span> Aug 2013</p>
                    <p class="rs fw-thin fc-gray pb20">Ships within the US only</p>
                    <p class="rs ta-c"><a class="btn big btn-red" href="#">Back this project</a></p>
                </div>
            </div>
        </li><!--end: pledge-item -->
        <li>
            <div class=" pledge-label accordion-label clearfix">
                <i class="icon iPlugGray"></i>
                <span class="pledge-amount">Pledge $32 or more</span>
                <span class="count-val">(42 of 111)</span>
            </div>
            <div class=" pledge-content accordion-content">
                <div class="pledge-detail">
                    <p class="rs pledge-description">Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.</p>
                    <p class="rs fw-b pb20">Ocupated (2 of 10)</p>
                    <p class="rs"><span class="fw-b">Estimated delivery:</span> Aug 2013</p>
                    <p class="rs fw-thin fc-gray pb20">Ships within the US only</p>
                    <p class="rs ta-c"><a class="btn big btn-purple" href="#">Back this project</a></p>
                </div>
            </div>
        </li><!--end: pledge-item -->
        <li>
            <div class="active pledge-label accordion-label clearfix">
                <i class="icon iPlugGray"></i>
                <span class="pledge-amount">Pledge $50 or more</span>
                <span class="count-val">(7 of 13)</span>
            </div>
            <div class="active pledge-content accordion-content">
                <div class="pledge-detail">
                    <p class="rs pledge-description">Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.</p>
                    <p class="rs fw-b pb20">Ocupated (2 of 10)</p>
                    <p class="rs"><span class="fw-b">Estimated delivery:</span> Aug 2013</p>
                    <p class="rs fw-thin fc-gray pb20">Ships within the US only</p>
                    <p class="rs ta-c"><a class="btn big btn-purple" href="#">Back this project</a></p>
                </div>
            </div>
        </li><!--end: pledge-item -->
