@model IEnumerable<FlipWeen.MVC.Models.ProjectCategoryViewModel>
<div class="left-list-category">
    <h4 class="rs title-nav">Category</h4>
    <ul class="rs nav nav-category">

        @foreach (var category in Model)
        {

            <li>
                 @Html.ActionLink(@category.Name, "Explore", "Projects", new { categoryId = @category.Id }, null) 
                    
                    <span class="count-val">@category.ProjectCount</span>
                    <i class="icon iPlugGray"></i>
               
            </li>

           
        }

    </ul>
</div><!--end: .left-list-category -->