@model FlipWeen.MVC.Models.ProjectExploreViewModel

@{
    ViewBag.Title = "";
}

<div class="layout-2cols">
    <div class="content grid_9">
        <div class="search-result-page">
            <div class="top-lbl-val">
                <h3 class="common-title">Explore / <span class="fc-orange">@Html.DisplayTextFor(model => model.ProjectCategory.Name)</span></h3>
                <div class="count-result">
                    <span class="fw-b fc-black">@Html.DisplayTextFor(model => model.ProjectCategory.ProjectCount)</span> projects found in this category
                </div>
            </div>
            <div class="list-project-in-category">
                <div class="lbl-type clearfix">
                    <h4 class="rs title-lbl"><a href="#" class="be-fc-orange">Popular</a></h4>
                    @*<a href="#" class="view-all be-fc-orange">View all</a>*@
                </div>
                <div class="list-project">
                    @foreach (var project in Model.ProjectCategory.Projects)
                    {

                         <div class="grid_3">
                             @Html.Partial("_ProjectSmallPartial", project)

                         </div><!--end: .grid_3 > .project-short-->
                    }

                    <div class="clear"></div>
                </div>
            </div><!--end: .list-project-in-category -->
       
            <p class="rs ta-c">
                <a id="showmoreproject" class="btn btn-black btn-load-more" href="#">Show more projects</a>
            </p>
        </div><!--end: .search-result-page -->
    </div><!--end: .content -->
    <div class="sidebar grid_3">
        @Html.Partial("_ProjectCategoriesPartial", Model.AllCategories)
       
    </div><!--end: .sidebar -->
    <div class="clear"></div>
</div>