<div class="layout-2cols">
    <div class="content grid_9">
        <div class="search-result-page">
            <div class="top-lbl-val">
                <h3 class="common-title">Discover / <span class="fc-orange">Comics</span></h3>
                <div class="count-result">
                    <span class="fw-b fc-black">560</span> projects found in this category
                </div>
            </div>
            <div class="list-project-in-category">
                <div class="lbl-type clearfix">
                    <h4 class="rs title-lbl"><a href="#" class="be-fc-orange">Staff picks</a></h4>
                    <a href="#" class="view-all be-fc-orange">View all</a>
                </div>
                <div class="list-project">
                    <div class="grid_3">
                   









                    </div><!--end: .grid_3 > .project-short-->
                    <div class="grid_3">
                   
                    </div><!--end: .grid_3 > .project-short-->
                    <div class="grid_3">
                   
                    </div><!--end: .grid_3 > .project-short-->
                    <div class="clear"></div>
                </div>
            </div><!--end: .list-project-in-category -->
       
            <p class="rs ta-c">
                <a id="showmoreproject" class="btn btn-black btn-load-more" href="#">Show more projects</a>
            </p>
        </div><!--end: .search-result-page -->
    </div><!--end: .content -->
    <div class="sidebar grid_3">
     
        @*<div class="left-list-category">
            <h4 class="rs title-nav">Category</h4>
            <ul class="rs nav nav-category">
                <li>
                    <a href="#">
                        Art
                        <span class="count-val">(12)</span>
                        <i class="icon iPlugGray"></i>
                    </a>
                </li>
                <li class="active">
                    <a href="#">
                        Comics
                        <span class="count-val">(12)</span>
                        <i class="icon iPlugGray"></i>
                    </a>
                </li>
                <li>
                    <a href="#">
                        Design
                        <span class="count-val">(12)</span>
                        <i class="icon iPlugGray"></i>
                    </a>
                </li>
                <li>
                    <a href="#">
                        Fashion
                        <span class="count-val">(12)</span>
                        <i class="icon iPlugGray"></i>
                    </a>
                </li>
                <li>
                    <a href="#">
                        Film
                        <span class="count-val">(12)</span>
                        <i class="icon iPlugGray"></i>
                    </a>
                </li>
                <li>
                    <a href="#">
                        Games
                        <span class="count-val">(12)</span>
                        <i class="icon iPlugGray"></i>
                    </a>
                    <ul class="rs nav-sub-category">
                        <li>
                            <a href="#">
                                Comedy
                                <span class="count-val">(12)</span>
                                <i class="dotSquare"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Animation
                                <span class="count-val">(12)</span>
                                <i class="dotSquare"></i>
                            </a>
                        </li>
                    </ul><!--end: .nav-sub-category-->
                </li>
                <li>
                    <a href="#">
                        Music
                        <span class="count-val">(12)</span>
                        <i class="icon iPlugGray"></i>
                    </a>
                </li>
                <li>
                    <a href="#">
                        Photography
                        <span class="count-val">(35)</span>
                        <i class="icon iPlugGray"></i>
                    </a>
                </li>
                <li>
                    <a href="#">
                        Publishing
                        <span class="count-val">(92)</span>
                        <i class="icon iPlugGray"></i>
                    </a>
                </li>
                <li>
                    <a href="#">
                        Technology
                        <span class="count-val">(13)</span>
                        <i class="icon iPlugGray"></i>
                    </a>
                </li>
                <li>
                    <a href="#">
                        Theater
                        <span class="count-val">(29)</span>
                        <i class="icon iPlugGray"></i>
                    </a>
                </li>
            </ul>
        </div><!--end: .left-list-category -->*@
    </div><!--end: .sidebar -->
    <div class="clear"></div>
</div>