@model IEnumerable<FlipWeen.MVC.Models.ProjectCategoryViewModel>
@{
    ViewBag.Title = "Explore";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<h4>Project Categories</h4>

@foreach (var category in Model)
{
    <tr>
        <td>@category.Name</td>
        @foreach (var project in category.Projects)
        {
        <tr>
            <td>@project.Description</td>

        </tr>
        }
    </tr>
}






