@{
    ViewBag.Title = "How It Works";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<div id="header2">
    <img src="~/Images/flipween-banner.png" id="banner" />
    <div id="banner_text_div">
        <p id="banner_text">Create.Deside.Execute.</p>
        <p id="banner_under_text">Get products from entrepreneurs on Flipween.</p>

    </div> <!-- banner_text -->

</div> <!-- closing header2 --> 
