@{
    ViewBag.Title = "Home Page";
}


<div class="row">
    <img id="banner" width="1140px"src="~/Images/flipween-banner.png" />
    <div id="banner_text_div">
        <p id="banner_text">Create.Deside.Execute.</p>
        <p id="banner_under_text">Get products from entrepreneurs on Flipween.</p>

    </div> <!-- banner_text -->
</div>